/* @override 
	http://localhost:8888/elements2017.css */

html {
	
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: -apple-system, sans-serif;
	/*font-family: "Avenir Next";*/
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	-webkit-user-select: none;
	-webkit-transition: opacity 0.5s ease;
	overflow: hidden;
	-webkit-text-size-adjust: none;
	background-color: black;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -10;
	position: relative;
	top: 0;
}

#chrome {
	background-color: black;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

#chrome.disabled {
	pointer-events: none;
}

.hidden {
	display: none;
}


/* @group Tab Bar */

#tab-bar {
	/*box-shadow: 0 -1px rgba(255, 255, 255, 0.1);*/
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	transition: opacity 0.5s ease, filter 0.5s ease;
	padding-right: 4%;
	padding-left: 4%;
	margin-bottom: constant(safe-area-inset-bottom);
	margin-bottom: env(safe-area-inset-bottom);
}

#tab-bar.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.guided-setup #tab-bar {
	opacity: 0;
	pointer-events: none;
}

#tab-bar.inverted {
	filter: invert(1);
}

#tab-bar ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
}

#tab-bar ul li {
	display: block;
	flex-grow: 1;
	vertical-align: middle;
	transition: opacity 0.5s ease, transform 0.3s ease;
	position: relative;
	
	/*filter: drop-shadow(0px 0px 2px black);*/
}

#tab-bar ul li:after {
	content: "";
	background: #0e77f4;
	width: 16px;
	height: 3px;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	border-radius: 3px;
	bottom: -7px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

#tab-bar.reorder-moment ul li {
	transition: none;
}

#tab-bar ul li img {
	display: block;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	pointer-events: none;
	transition: opacity 0.5s ease;
	opacity: 0.5;
}

#tab-bar ul li span {
	font-size: 10px;
	display: none;
	width: 40px;
	margin-right: auto;
	margin-left: auto;
	
}

#tab-bar ul li:active {
	transition: none;
	transform: scale(0.9);
}

#tab-bar ul li:active img {
	opacity: 1;
	transition: none;
}

#tab-bar ul li.selected img {
	opacity: 1;
	/*background-color: royalblue;*/
	/*filter: drop-shadow(0px 1px 3px royalblue);*/
}

#tab-bar ul li.selected:after {
	/*opacity: 1;*/
}


#tab-edit-prompt {
	text-align: center;
	color: gray;
	padding-right: 25px;
	padding-left: 25px;
}

#tab-bar ul li.shift-left {
	transform: translateX(-100%);
}

#tab-bar ul li.shift-right {
	transform: translateX(100%);
}

#tab-bar ul li.drag {
	transition: none;
	/*transform: translateX(calc(-50% + 7px));*/
}

#tab-bar .notification-dot {
	background-color: white;
	width: 14px;
	height: 3px;
	border-radius: 2px;
	position: absolute;
	margin-left: 50%;
	left: -7px;
	opacity: 0;
	bottom: -6px;
	transition: opacity 0.5s ease;
}

#tab-bar .notification-dot.visible {
	opacity: 1;
}

#tab-bar .notification-dot.yellow {
	background-color: #ffd504;
}

/* @end */

/* @group Guided Setup */

#guided-setup-bar {
	position: fixed;
	display: flex;
	flex-direction: row;
	bottom: 0;
	color: white;
	z-index: 5;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	height: 80px;
	transition: opacity 0.5s ease, transform 0.5s ease;
	transform: translateY(20px);
	opacity: 0;
	pointer-events: none;
}

.guided-setup #guided-setup-bar {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}

#guided-setup-bar .symbol-button {
	margin-right: 5px;
}

#guided-setup-bar h1 {
	margin: -1px 0 0;
}

#guided-setup-bar h2 {
	color: #0e77f4;
	opacity: 1;
	margin-bottom: 0;
	margin-top: 0.5em;
	display: none;
}

#setup-bar-next {
	margin-left: auto;
	font-size: 0.9em;
	padding: 0.5em 0.7em 0.5em 0.8em;
}

.guided-setup .guide-hide {
	display: none;
}

.guide-show {
	display: none;
}


#tab-create-welcome h1 {
	font-size: 28px;
	font-weight: 600;
	margin-top: 0.5em;
}

#tab-create-welcome p {
	font-size: 0.8em;
	opacity: 0.8;
}

#tab-create-welcome ul {
	margin-top: 0;
	list-style-type: none;
	padding: 0;
	font-weight: 600;
	line-height: 2em;
}

#tab-create-welcome ul li img {
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -2px;
}

#setup-beo {
	margin-top: 15px;
	width: 160px;
	margin-bottom: 2em;
}

/* @end */

/* @group Tabs */

.tab {
	position: relative;
	/*overflow: hidden;*/
	/*background-color: white;*/
	/*background-color: hsl(200, 20%, 93%);*/
	/*background-color: hsl(200, 20%, 96%);*/
	background-color: white;
	position: absolute;
	bottom: 50px;
	top: 0;
	right: 0;
	left: 0;
	border-radius: 7px;
	transition: background-color 0.5s ease, bottom 0.5s ease;
	/*background-image: radial-gradient(ellipse farthest-corner, hsla(200, 20%, 90%, 0) 0%,
		hsla(200, 20%, 90%, 0.002) 1.8%, 
		hsla(200, 20%, 90%, 0.008) 4.8%, 
		hsla(200, 20%, 90%, 0.021) 9%, 
		hsla(200, 20%, 90%, 0.042) 13.9%, 
		hsla(200, 20%, 90%, 0.075) 19.8%, 
		hsla(200, 20%, 90%, 0.126) 27%, 
		hsla(200, 20%, 90%, 0.194) 35%, 
		hsla(200, 20%, 90%, 0.278) 43.5%, 
		hsla(200, 20%, 90%, 0.382) 53%, 
		hsla(200, 20%, 90%, 0.541) 66%, 
		hsla(200, 20%, 90%, 0.738) 81%, 
		hsl(200, 20%, 90%) 100% );*/
	margin-bottom: constant(safe-area-inset-bottom);
	margin-bottom: env(safe-area-inset-bottom);
}

.black .tab, .dark {
	/*background-color: #32404b;*/
	background-color: #1b2d40;
	/*background-image: radial-gradient(circle farthest-corner, hsla(200, 20%, 90%, 0) 0%,
		hsla(200, 20%, 15%, 0.002) 1.8%, 
		hsla(200, 20%, 15%, 0.008) 4.8%, 
		hsla(200, 20%, 15%, 0.021) 9%, 
		hsla(200, 20%, 15%, 0.042) 13.9%, 
		hsla(200, 20%, 15%, 0.075) 19.8%, 
		hsla(200, 20%, 15%, 0.126) 27%, 
		hsla(200, 20%, 15%, 0.194) 35%, 
		hsla(200, 20%, 15%, 0.278) 43.5%, 
		hsla(200, 20%, 15%, 0.382) 53%, 
		hsla(200, 20%, 15%, 0.541) 66%, 
		hsla(200, 20%, 15%, 0.738) 81%, 
		hsl(200, 20%, 15%) 100% );*/
	color: white;
}

.tab-content {
	/*filter: blur(20px);*/
	transform: scale(0.95);
	opacity: 0;
	transition: filter 0.5s ease, opacity 0.5s ease, transform 0.5s cubic-bezier(.18,0,0,1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	display: none;
	bottom: 0;
}

.tab-content.block {
	display: block;
}

.tab-content.visible {
	filter: none;
	transform: scale(1);
	opacity: 1;
	pointer-events: all;
	/*transition-delay: 0.3s;*/
}

.guided-setup .tab {
	bottom: 80px;
}

.tab.blue {
	background: #0e77f4;
	color: white;
}

/* @end */

/* @group Now Playing */

#tab-now-playing {
	/*background-color: black;*/
	/*margin-bottom: -50px;*/
	/*color: white;*/
	transform: none;
	/*transform: translateY(-20px);*/
}

#tab-now-playing.visible {
	/*transform: translateY(0);*/
}

#top-text {
	text-align: center;
	position: relative;
	transition: transform 0.5s ease;
	/*mix-blend-mode: overlay;*/
	/*filter: drop-shadow(0px 1px 2px black);*/
	z-index: 2;
	margin-bottom: -1em;
	margin-top: 1.5em;
}

#top-text.logo, #top-text.one-row {
	transform: translateY(13px);
}

#top-text h1 {
	font-size: 1em;
	margin-bottom: 0.25em;
	font-weight: 600;
	transition: opacity 0.5s ease;
	margin-top: 0;
	pointer-events: none;
}

#top-text h2 {
	transition: opacity 0.5s ease;
	font-weight: 600;
	padding-left: 0.1em;
	margin-top: 0;
	pointer-events: none;
}

#top-text.logo h1, #top-text.logo h2 {
	opacity: 0;
}

#top-text.one-row h2 {
	opacity: 0;
}

#top-text-beo-logo {
	width: 160px;
	display: block;
	margin-top: -47px;
	opacity: 0;
	transition: opacity 0.5s ease;
	pointer-events: none;
	position: absolute;
	left: 50%;
	margin-left: -80px;
}

.logo #top-text-beo-logo {
	opacity: 1;
}

#now-playing-background {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	filter: brightness(0.6) contrast(0.6) saturate(3);
	/*filter: brightness(1.5) contrast(0.3) saturate(1.5);border-radius: 8px;*/
	background-color: #355875;
	border-radius: 7px;
}

#now-playing-background-image {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	transition: opacity 0.5s ease;
	opacity: 0;
	border-radius: 7px;
}

#now-playing-background-image.visible {
	opacity: 1;
}

#now-playing-content {
	/*background-color: rgba(40, 40, 40, 0.7);*/
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	mix-blend-mode: screen;
	background-color: #f1f1f1;
	border-radius: 7px;
	overflow: hidden;
}

#background-image-filter {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	backdrop-filter: blur(60px);
	-webkit-backdrop-filter: blur(60px);
	border-radius: 7px;
	/*box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);*/
}

#filter-gradient-top {
	background-image: linear-gradient(
	  hsl(0, 0%, 0%) 0%,
	  hsla(0, 0%, 0%, 0.738) 19%,
	  hsla(0, 0%, 0%, 0.541) 34%,
	  hsla(0, 0%, 0%, 0.382) 47%,
	  hsla(0, 0%, 0%, 0.278) 56.5%,
	  hsla(0, 0%, 0%, 0.194) 65%,
	  hsla(0, 0%, 0%, 0.126) 73%,
	  hsla(0, 0%, 0%, 0.075) 80.2%,
	  hsla(0, 0%, 0%, 0.042) 86.1%,
	  hsla(0, 0%, 0%, 0.021) 91%,
	  hsla(0, 0%, 0%, 0.008) 95.2%,
	  hsla(0, 0%, 0%, 0.002) 98.2%,
	  hsla(0, 0%, 0%, 0) 100%
	);
	width: 100%;
	height: 30%;
	position: absolute;
	display: none;
}

#filter-gradient-bottom {
	display: none;
	background-image: linear-gradient(to top, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100%);
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 0;
	pointer-events: none;
}

#now-playing-content-overlay {
	/*display: none;*/
	background-image: radial-gradient(ellipse farthest-corner, hsla(200, 0%, 90%, 0) 0%,
		hsla(200, 0%, 0%, 0.002) 1.8%, 
		hsla(200, 0%, 0%, 0.008) 4.8%, 
		hsla(200, 0%, 0%, 0.021) 9%, 
		hsla(200, 0%, 0%, 0.042) 13.9%, 
		hsla(200, 0%, 0%, 0.075) 19.8%, 
		hsla(200, 0%, 0%, 0.126) 27%, 
		hsla(200, 0%, 0%, 0.194) 35%, 
		hsla(200, 0%, 0%, 0.278) 43.5%, 
		hsla(200, 0%, 0%, 0.382) 53%, 
		hsla(200, 0%, 0%, 0.541) 66%, 
		hsla(200, 0%, 0%, 0.738) 81%, 
		hsl(200, 0%, 0%) 100% );
		position: absolute;
	opacity: 0.1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
}

.artwork-bg {
	background-image: url(samples/jealousgods.jpg);
}

#controller {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	/*filter: drop-shadow(0px 1px 2px black);*/
	filter: invert(1);
	transition: transform 0.5s cubic-bezier(.18,0,0,1);
	transform: scale(0.9);
}

#controller-canvas {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transition: transform 0.5s cubic-bezier(.18,0,0,1);
	transform: scale(0.9);
	background-image: url(controller/ctrl-dot.svg);
}

.visible #controller, .visible #controller-canvas {
	transform: scale(1);
}

#artwork-wrapper {
	position: relative;
	top: 100px;
	right: 0;
	left: 0;
	padding-right: 25px;
	padding-left: 25px;
	max-height: calc(100% - 230px);
	text-align: center;
	transition: transform 0.5s cubic-bezier(.18,0,0,1), opacity 0.5s ease;
	transform: translateY(-50px);
	opacity: 0;
	pointer-events: none;
}

#artwork-wrapper.visible {
	transform: translateY(0);
	opacity: 1;
	pointer-events: all;
}

#artwork-wrapper.drag {
	transition: none;
}

#now-playing-artwork {
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	/*-moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);*/
	opacity: 1;
	margin-bottom: -4px;
	transition: transform 0.5s ease;
	transform: scale(0.9);
}

#now-playing-artwork-shadow {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	z-index: -1;
	filter: blur(10px) brightness(0.9) saturate(1);
	transition: filter 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
	opacity: 0.5;
	mix-blend-mode: multiply;
	transform: translateY(4px) scale(0.9);
}

.playing #now-playing-artwork {
	transform: scale(1);
}

.playing #now-playing-artwork-shadow {
	filter: blur(25px) brightness(0.8) saturate(1.5);
	opacity: 1;
	transform: translateY(10px) scale(1);
}

/* @end */

/* @group Volume Bar */

#volume-bar {
	position: absolute;
	bottom: 0;
	height: 90px;
	background-color: silver;
	background-image: linear-gradient(to top, #c0c0c0 0%, #CDCDCD 19%, #D6D6D6 34%, #DEDEDE 47%, #E3E3E3 56%, #E7E7E7 65%, #EBEBEB 73%, #EDEDED 80%, #EFEFEF 86%, #F0F0F0 91%, #F1F1F1 95%, #F1F1F1 98%, #f1f1f1 100%);
	left: 0;
	right: 0;
	text-align: left;
	transition: opacity 0.5s ease;
	opacity: 0.5;
	pointer-events: none;
	display: none;
}

#volume-bar.visible {
	pointer-events: all;
	opacity: 1;
}

#volume-level {
	font-size: 24px;
	font-weight: 500;
	padding-top: 31px;
	padding-left: 25px;
	position: absolute;
	color: black;
	transform: translateY(20px);
	transition: transform 0.5s ease, opacity 0.5s ease;
	opacity: 0;
	pointer-events: none;
}

#volume-fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 45%;
	background-color: gray;
	background-image: url(volume-bar-shadow.png), linear-gradient(to top, #808080 0%, #9E9E9E 19%, #B4B4B4 34%, #C6C6C6 47%, #D2D2D2 56%, #DBDBDB 65%, #E3E3E3 73%, #E9E9E9 80%, #ECECEC 86%, #EFEFEF 91%, #F0F0F0 95%, #F1F1F1 98%, #f1f1f1 100%);
	opacity: 0;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	transform-origin: left;
	transition: opacity 0.5s ease;
	pointer-events: none;
}


#volume-bar.visible #volume-fill {
	opacity: 1;
}

#volume-bar.visible #volume-level {
	opacity: 1;
	transform: translateY(0);
}

#volume-fill.adjust, #volume-fill:active {
	transition: opacity 0.3s ease;
	opacity: 0.7;
}

/* @end */

/* @group Buttons */

.symbol-button {
	display: block;
	padding: 10px;
	margin: -10px;
	opacity: 0.5;
	width: 22px;
	height: 22px;
}

.symbol-button, .header-text-button {
	-webkit-transition: opacity 0.5s ease, transform 0.3s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.symbol-button:active, .header-text-button:active {
	opacity: 1;
	-webkit-transition: none;
	transform: scale(0.9);
	box-shadow: none;
}


.header-text-button {
	font-weight: 600;
	font-size: 0.66em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	align-self: center;
	color: #0e77f4;
	padding-top: 0.5em;
	padding-bottom: 0.4em;
}

.header-text-button:active {
	color: black;
}

.segmented {
	display: flex;
	width: auto;
	flex-direction: row;
	border-radius: 7px;
	font-size: 0.7em;
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f5f5f5;
}

.segmented.vertical {
	flex-direction: column;
	flex-grow: 1;
}

.segmented.vertical > div {
	flex-basis: 40px;
}

.segmented > div {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease, filter 0.5s ease, color 0.5s ease;
	flex-basis: 30px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 35px;
}

.segmented > div:first-of-type {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.segmented > div:last-of-type {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.segmented.vertical > div:first-of-type {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 0;
}

.segmented.vertical > div:last-of-type {
	border-top-right-radius: 0;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.segmented .selected {
	color: white;
}


.segmented .selected.selected-red, .segmented.red .selected, .pill-button.red, .red.ui-slider span {
	background-color: #f40d3b;
	-moz-box-shadow: 0 4px 10px rgba(243, 13, 58, 0.5);
	box-shadow: 0 4px 10px rgba(243, 13, 58, 0.5);
}

.segmented .selected.selected-yellow, .segmented.yellow .selected, .pill-button.yellow, .yellow.ui-slider span {
	background-color: #feb916;
	-moz-box-shadow: 0 4px 10px rgba(253, 185, 22, 0.5);
	box-shadow: 0 4px 10px rgba(253, 185, 22, 0.5);
}

.segmented .selected.selected-green, .segmented.green .selected, .pill-button.green, .green.ui-slider span {
	background-color: #27e354;
	-moz-box-shadow: 0 4px 10px rgba(39, 226, 84, 0.5);
	box-shadow: 0 4px 10px rgba(39, 226, 84, 0.5);
}

.segmented .selected.selected-blue, .segmented.blue .selected, .pill-button.blue, .blue.ui-slider span {
	background-color: #0e77f4;
	-moz-box-shadow: 0 4px 10px rgba(13, 118, 244, 0.5);
	box-shadow: 0 4px 10px rgba(13, 118, 244, 0.5);
}

.segmented .selected.selected-grey, .segmented.grey .selected {
	background-color: gray;
	-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.segmented > div:active {
	filter: brightness(0.8);
	transform: scale(0.95);
	transition: none;
	box-shadow: none !important;
	background-color: rgba(0,0,0,0.1);
}

.pill-button {
	text-align: center;
	border-radius: 7px;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.9em;
	color: white;
	-moz-box-shadow: 0 4px 10px rgba(128, 128, 128, 0.5);
	box-shadow: 0 4px 10px rgba(128, 128, 128, 0.5);
	transition: filter 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
	height: 40px;
}

.pill-button.round {
	margin-right: auto;
	margin-left: auto;
	width: 22px;
	padding: 1em;
}

.pill-button.round img {
	display: block;
}

.pill-button:active {
	filter: brightness(0.8);
	transform: scale(0.98);
	box-shadow: none;
	transition: none;
}

.pill-button.disabled {
	opacity: 0.3;
	pointer-events: none;
}

/* @end */

/* @group Header */

header {
	display: flex;
	/*box-shadow: 0 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px rgba(0, 0, 0, 0.05);*/
	justify-content: space-between;
	height: 60px;
	box-sizing: border-box;
	padding: 20px;
		/*background-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100%);*/
	right: 0;
	left: 0;
	position: relative;
	z-index: 1;
}

.full-height header {
	margin-right: -20px;
	margin-left: -20px;
	margin-top: -10px;
}

.shadow {
	background-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100%);
}

header:after {
	background-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100%);
	position: absolute;
	right: 0;
	left: 0;
	height: 10px;
	content: "";
	top: 60px;
	opacity: 0.04;
	z-index: 0;
}

header.dark:after {
	
}

header .left {
	order: 1;
	margin-right: 5px;
}

header .right {
	order: 3;
}

header .symbol-button {
	transition: opacity 0.5s ease, 
	-webkit-transform 0.5s cubic-bezier(.18,0,0,1);
}

header h1 {
	font-weight: 600;
	margin: -4px auto 0 0;
	font-size: 24px;
	order: 2;
	transition: opacity 0.3s ease;
	/*opacity: 0.5;*/
}

.menu-screen.hidden-right header .symbol-button.left {
	-webkit-transform: translateX(-200px);
	opacity: 0;
	pointer-events: none;
}

.menu-screen.hidden-right header h1 {
	opacity: 0;
}

.menu-screen.edge-swipe-screen header .symbol-button.left, .menu-screen.edge-swipe-screen header h1 {
	-webkit-transition: none;
}

.setup-header {
	background-color: #0e77f4;
	color: white;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	position: absolute;
	top: 0;
	display: none;
}

/* @end */

/* @group Menu Basics */

.menu-screen {
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(.18,0,0,1), opacity 0.5s cubic-bezier(.18,0,0,1);
	position: absolute;
	bottom: 0;
	top: 0px;
	right: 0;
	left: 0;
	display: none;
}

.menu-screen.block {
	display: block;
}

.edge-swipe {
	position: absolute;
	top: 64px;
	bottom: 0;
	left: 0;
	width: 7px;
	z-index: 5;
}

.menu-screen.hidden-left {
	-webkit-transform: translateX(-25%);
	opacity: 0;
	pointer-events: none;
}

.menu-screen.hidden-right {
	-webkit-transform: translateX(100%);
	/*opacity: 0.5;*/
	pointer-events: none;
}

.menu-screen.edge-swipe-screen {
	-webkit-transition: none;
}


.scroll-area {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 60px;
	padding: 10px 20px;
	left: 0;
	right: 0;
	bottom: 0;
}

.full-height.scroll-area {
	top: 0;
}

.menu-group {
	/*padding: 20px 20px 10px;*/
	/*margin: 0 -20px;*/
	margin-bottom: 20px;
}

.menu-group.pad-bottom {
	padding-bottom: 20px;
}

.menu-group.pad-top {
	padding-top: 20px;
}

.menu-group.no-margin {
	margin-bottom: 0;
}

.menu-group.no-padding {
	margin-left: -20px;
	margin-right: -20px;
	padding-right: 20px;
	padding-left: 20px;
}


.beginning {
	margin-top: -10px;
}

section {
	margin-bottom: 1.5em;
}

h2 {
	font-size: 0.66em;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	opacity: 0.5;
	margin-top: 10px;
}

p {
	font-size: 0.66em;
	opacity: 0.5;
	margin-top: 10px;
}


/* @end */

/* @group Menu Items */

.menu-item, .menu-notification {
	display: flex;
	flex-flow: row wrap;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
	-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	border-radius: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
	/*background-color: #f5f8fa;*/
	position: relative;
	/*height: 42px;*/
}

.menu-item * {
	/*background-color: rgba(0,0,0,0.1);*/
}

/*.menu-item:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.menu-item:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}*/

.menu-item:active {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition: none;
}


.menu-item.static {
	pointer-events: none;
}

.menu-item.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.menu-label {
	margin-right: auto;
	font-weight: 600;
	padding-bottom: 1px;
	white-space: nowrap;
	align-self: stretch;
}

.menu-value {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.66em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #0e77f4;
	/*opacity: 0.5;*/
	margin-top: 0.5em;
	width: 100%;
	line-height: 1.6em;
}

.menu-item.notification .menu-value {
	color: black;
}

.menu-item p {
	margin-top: 0.5em;
	width: 100%;
}

.menu-item p:last-of-type {
	margin-bottom: 0;
}

.icon.left .menu-value, .icon.left p {
	margin-left: 37px;
}

.icon.left .menu-icon {
	margin-right: 15px;
	opacity: 0.7;
	height: 100%;
}

.icon.left.checkbox .menu-icon {
	opacity: 0;
}

.icon.left.checkbox.checked .menu-icon {
	opacity: 0.7;
}

.menu-item.notification.yellow {
	background-color: #ffd504;
	-moz-box-shadow: 0 4px 10px rgba(255, 212, 3, 0.5);
	box-shadow: 0 4px 10px rgba(255, 212, 3, 0.5);
}

/* @end */

/* @group Menu Buttons */

.menu-button {
	margin: 1em;
}

/* @end */

/* @group Guide Images */


.speaker-terminal-guide-positioner {
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	pointer-events: none;
	margin: -20px -20px 20px;
	background-color: rgba(0,0,0,0.1);
}

.speaker-terminal-guide-positioner .shadow {
	height: 20px;
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;
}

.show-guide .speaker-terminal-guide-positioner {
	opacity: 1;
}


.speaker-terminal-guide {
	max-width: 450px;
	position: relative;
}


.speaker-terminal-legend-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.speaker-terminal-guide img.main {
	width: 100%;
	display: block;
}

.speaker-terminal-legend-overlay .amp-section {
	position: absolute;
	width: 28%;
	text-align: center;
	bottom: 10%;
}

.speaker-terminal-legend-overlay .amp-section .power-rating {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 60%;
}

.speaker-terminal-legend-overlay .amp-section.left {
	left: 14%;
}

.speaker-terminal-legend-overlay .amp-section.right {
	right: 9%;
}

.speaker-terminal-legend-overlay .amp-section .amp-channel {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 34%;
	justify-content: space-between;
}

.speaker-terminal-legend-overlay .amp-section .amp-channel img {
	margin: -5px;
}

.speaker-terminal-legend-overlay .amp-section .amp-channel.left {
	left: 8%;
}

.speaker-terminal-legend-overlay .amp-section .amp-channel.right {
	right: 7%;
}

.a, .b, .c, .d {
	opacity: 0;
	/*transition: opacity 0.5s ease;*/
}

.show-a .a, .show-b .b, .show-c .c, .show-d .d {
	opacity: 1;
}
/* @end */

/* @group DSP */

#dsp-graph {
	position: -webkit-sticky;
	position: sticky;
	top: -10px;
	background-color: white;
	z-index: 1;
	padding-bottom: 5px;
}

#dsp-graph:after {
	background-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100%);
	position: absolute;
	right: 0;
	left: 0;
	height: 10px;
	content: "";
	bottom: -10px;
	opacity: 0.04;
	z-index: 0;
}

#graph-wrapper {
	position: relative;
	margin-right: -20px;
	margin-left: -20px;
	height: 200px;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-guide #graph-wrapper {
	opacity: 0;
	transform: translateY(20px);
	pointer-events: none;
}

#graph-container, #graph-container-back {
	height: 100%;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, white 10%, white 90%, rgba(0, 0, 0, 0) 100%);
}

#graph-wrapper canvas {
	pointer-events: none;
}

#graph-container-back {
	position: absolute !important;
	width: 100%;
}

#dsp-channel-select {
	/*border-radius: 5px;*/
	margin-bottom: 5px;
	z-index: 2;
	position: relative;
}

#dsp-channel-select > div {
	/*background-color: rgba(0, 0, 0, 0.2);*/
}

#dsp-channel-select > div:first-of-type {
	/*border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;*/
}

#dsp-channel-select > div:last-of-type {
	/*border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;*/
}

.dsp-colour.colour-dot {
	pointer-events: none;
	width: 7px;
	height: 7px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.2);
	transition: background-color 0.5s ease;
	margin: 2px;
}

#dsp-channel-select .name {
	margin-left: 0.3em;
}


#dsp-channel-select div.selected {
	/*color: white;*/
	/*background-color: white;*/
	/*-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);*/
}

.dsp-colour.red, .red .ui-slider-range {
	background-color: #f40d3b;
}
.dsp-colour.red-light {
	background-color: rgba(243, 13, 58, 0.4);
}

.dsp-colour.yellow, .yellow .ui-slider-range {
	background-color: #feb916;
}
.dsp-colour.yellow-light {
	background-color: rgba(253, 185, 22, 0.4);
}

.dsp-colour.green, .green .ui-slider-range {
	background-color: #27e354;
}
.dsp-colour.green-light {
	background-color: rgba(39, 226, 84, 0.4);
}

.dsp-colour.blue, .blue .ui-slider-range {
	background-color: #0e77f4;
}
.dsp-colour.blue-light {
	background-color: rgba(13, 118, 244, 0.4);
}

.selected .colour-dot {
	background-color: white;
}

.selected .colour-dot.phase {
	background-color: rgba(255,255,255,0.5);
}

.graph-labels-x {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	color: rgba(0,0,0,0.3);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	font-weight: 600;
}

.dark .graph-labels-x {
	color: white;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.graph-labels-y {
	position: absolute;
	left: 1%;
	right: 1%;
	color: rgba(0,0,0,0.3);
	top: 0.5em;
	bottom: 0.5em;
}

.dark .graph-labels-y {
	color: rgba(255,255,255,0.3);
}

.graph-labels-x .label, .graph-labels-y .label {
	position: absolute;
	font-size: 0.66em;
}

#x-0 {
	margin-left: 1%;
}

#x-1 {
	margin-left: 30.7%;
}

#x-2 {
	margin-left: 61%;
}

#x-3 {
	margin-left: 91.5%;
}

#y-a-0, #y-b-0 {
	top: 0;
}

#y-a-1, #y-b-1 {
	bottom: 0;
}

#y-b-0, #y-b-1 {
	right: 0;
}

.slider-container {
	display: flex;
	flex-direction: column;
	margin-bottom: -10px;
}

.ui-slider {
	height: 4px;
	background-color: #eee;
	position: relative;
	border-radius: 4px;
	margin: 30px 10px;
}

.ui-slider:after, .ui-slider:before {
	position: relative;
	content: " ";
	display: table;
}

.ui-slider-range {
	position: absolute;
	height: 4px;
}

.ui-slider span {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	background-color: white;
	border-radius: 20px;
	outline: none;
	margin-top: -13px;
	margin-left: -15px;
	transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.ui-slider span:first-of-type {
	/*margin-left: -1px;*/
	text-align: left;
}

.ui-slider span:last-of-type {
	/*margin-left: -29px;*/
	text-align: right;
}

.ui-slider span:after {
	content: attr(data-content);
	position: absolute;
	font-size: 0.7em;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	bottom: 100%;
	padding-bottom: 2px;
	width: 50px;
	left: -10px;
}

.crossover-detail {
	display: flex;
	justify-content: space-between;
}

.crossover-detail .freq {
	background-color: white;
	height: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-right: 0.7em;
	padding-left: 0.7em;
	border-radius: 20px;
}

#filter-selector .filter-value {
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 1.5em;
	margin-left: 0.5em;
	opacity: 0.7;
	font-size: 0.8em;
	letter-spacing: 0;
}

/* @end */

/* @group General HUD */

.general-hud {
	background-color: transparent;
	width: 100%;
	z-index: 5;
	position: fixed;
	height: 100%;
	display: flex;
	transition: background-color 0.5s ease;
	pointer-events: none;
	box-sizing: border-box;
	padding: 10px;
}

.general-hud.visible {
	pointer-events: all;
	background-color: rgba(0, 0, 0, 0.8);
}

.general-hud-wrap {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	flex-grow: 0;
}

.general-hud footer {
	padding: 20px 20px 10px;
	transition: opacity 0.5s ease;
	color: white;
}

/* @end */

/* @group Fine Adjustment */

#fine-adjust-container {
	background-color: hsl(200, 20%, 96%);
	padding: 10px 20px 5px;
	overflow: hidden;
	border-radius: 7px;
	margin-right: auto;
	margin-left: auto;
	flex-grow: 0;
	align-self: center;
	max-width: 400px;
	width: 100%;
	display: none;
}

#fine-adjust h1 {
	font-size: 24px;
	margin-top: 0;
}

#fine-adjust-value {
	font-size: 2em;
	font-weight: 600;
	text-align: center;
}

#fine-adjust-controller {
	display: flex;
	justify-content: center;
	margin: 20px -10px;
	font-size: 1.5em;
}

#fine-adjust-controller .segmented {
	margin-right: 10px;
	margin-left: 10px;
}



/* @end */

/* @group Ask */

#ask {
	
}

#ask-menu-store {
	display: none;
}

#ask.visible {
	
}

#ask-menu {
	align-self: flex-end;
	transition: transform 0.3s cubic-bezier(.18,0,0,1);
	transform: translateY(calc(100% + 20px));
	max-width: 400px;
}

#ask-menu-content {
	background-color: hsl(200, 20%, 96%);
	padding: 10px 20px 5px;
	overflow: hidden;
	border-radius: 7px;
	/*background-image: radial-gradient(ellipse farthest-corner, hsla(200, 20%, 90%, 0) 0%,
		hsla(200, 20%, 90%, 0.002) 1.8%, 
		hsla(200, 20%, 90%, 0.008) 4.8%, 
		hsla(200, 20%, 90%, 0.021) 9%, 
		hsla(200, 20%, 90%, 0.042) 13.9%, 
		hsla(200, 20%, 90%, 0.075) 19.8%, 
		hsla(200, 20%, 90%, 0.126) 27%, 
		hsla(200, 20%, 90%, 0.194) 35%, 
		hsla(200, 20%, 90%, 0.278) 43.5%, 
		hsla(200, 20%, 90%, 0.382) 53%, 
		hsla(200, 20%, 90%, 0.541) 66%, 
		hsla(200, 20%, 90%, 0.738) 81%, 
		hsl(200, 20%, 90%) 100% );*/
}

.visible #ask-menu {
	transform: translateY(0);
	transition: transform 0.5s cubic-bezier(.18,0,0,1);
}

#ask-menu footer {
	
}

#ask-menu footer:active {
	opacity: 0.5;
	transition: none;
}

#ask-menu .cancel {
	
}

/* @end */

